<footer class="min-h-50 grid lg:grid-cols-[2fr_3fr] md:gap-10 px-5 md:px-20 full-bleed-footer bg-gray-200">
  <div class="items-center justify-center flex flex-col gap-10">
    <img src="{{ section.settings.logo | image_url: width: 200 }}" 
      alt="Logo" 
      class="h-10 w-120 object-contain mb-5"
      width="{{ section.settings.logo.width }}"
      height="{{ section.settings.logo.height }}"
    >
  </div>
  <div class="grid md:grid-rows-2 md:pl-0 pl-5 md:pb-0 pb-20">
    <div class="grid grid-cols-3 md:pt-15 md:gap-20 gap-3 ">
      <div class="flex flex-col gap-1">
        <h3 class="text-lg font-semibold">{{ section.settings.title1 }}</h3>
        {% for link in section.settings.link_list1.links %}
          <a href="{{ link.url }}" class="hover:underline md:text-lg text-sm">{{ link.title }}</a>
        {% endfor %}
      </div>
      <div class="flex flex-col gap-1">
        <h3 class="text-lg font-semibold">{{ section.settings.title2 }}</h3>
        {% for link in section.settings.link_list2.links %}
          <a href="{{ link.url }}" class="hover:underline md:text-lg text-sm">{{ link.title }}</a>
        {% endfor %}
      </div>
      <div class="flex flex-col gap-1">
        <h3 class="text-lg font-semibold">{{ section.settings.title3 }}</h3>
        <a href="{{ section.settings.facebook_url }}" class="hover:underline md:text-lg text-sm">Facebook</a>
        <a href="{{ section.settings.instagram_url }}" class="hover:underline md:text-lg text-sm">Instagram</a>
        <a href="{{ section.settings.twitter_url }}" class="hover:underline md:text-lg text-sm">Twitter</a>
      </div>
    </div>
    <div class="md:pt-20 pt-10 border-t border-gray-200 flex flex-col md:items-start">
      <p class="text-center pb-5">{{ section.settings.subscribe_text }}</p>
      <form 
         class="flex justify-center gap-2">

          <input type="email" name="contact[email]" 
            placeholder="{{ section.settings.placeholder_text }}" required 
            class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-400">
          <button type="submit" class="bg-black text-white px-4 py-2 rounded-md hover:opacity-80 transition-opacity">
            {{ section.settings.button_text }}</button>
      </form>
    </div>
  </div>
</footer>

<style>
  
.full-bleed-footer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

</style>


{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title 1 ",
      "default": "Legal"
    },
    {
      "type": "link_list",
      "id": "link_list1",
      "label": "Link List 1",
    },

    {
      "type": "text",
      "id": "title2",
      "label": "Title 2 ",
      "default": "Assistance"
    },
     {
      "type": "link_list",
      "id": "link_list2",
      "label": "Link List 2",
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title 3",
      "default": "Socials"
    },
     {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL",
    },
      {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL",
    },
      {
      "type": "url",
      "id": "twitter_url",
      "label": "Twitter URL",
    },
    {
      "type": "text",
      "id": "subscribe_text",
      "label": "Subscribe Text",
      "default": "Subscribe to our newsletter"
    },
    {
      "type": "text",
      "id": "placeholder_text",
      "label": "Placeholder Text",
      "default": "Enter your email address"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Subscribe"
    }
  ]
}
{% endschema %}