<div class="w-full bg-black" style="width: 100vw; margin-left: calc(50% - 50vw);">
  <div class="h-10 flex items-center justify-center">
    <p class="text-white">{{ section.settings.newsletter }}</p>
  </div>
</div>

<header class="full-bleed-header absolute left-0 top-10 w-full h-20 text-black px-10 bg-transparent 
  grid grid-cols-3 items-center z-50 -translate-x-3 hover:bg-white transition-colors duration-300">

  <!-- MOBILE HAMBURGER -->
  <div class="flex items-center md:hidden gap-3">
    <button 
        type="button" 
        class="mobile-menu-toggle w-7  flex flex-col justify-center items-center "
        aria-label="Toggle menu"
        onclick="toggleMobileMenu()">
        {%-  render 'icon-hamburger' %}
      </button>

    <div class="w-5">
      <a href="/">
        {% render 'search' %}
      </a>
    </div>
  </div>
  

  <!-- DESKTOP MENU -->
  <div class="hidden md:flex header__menu justify-start gap-6">
    {% for link in section.settings.menu.links %}
      <div class="text-lg font-normal hover:opacity-30 transition-opacity">
        {{ link.title | link_to: link.url }}
      </div>
    {% endfor %}
  </div>

  <!-- LOGO / TEXTO DEL CENTRO -->
  <div class="text-center text-2xl md:text-3xl font-semibold uppercase tracking-widest ">
    <a href="/">
      {% if section.settings.header_title != blank %}
        {{ section.settings.header_title }}
      {% else %}
        {{ shop.name | link_to: routes.root_url }}
      {% endif %}
    </a>
  </div>
  

  <!-- ICONS -->
  <div class="flex justify-end gap-4">
    <div class="w-5 pt-0.5 md:flex hidden hover:opacity-30 transition-opacity">
      <a href="/">
        {% render 'search' %}
      </a>
    </div>
    {% if shop.customer_accounts_enabled %}
      <div class="w-6 hover:opacity-30 transition-opacity">
        {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
      </div>
    {% endif %}

    <div class="w-6 hover:opacity-30 transition-opacity">
      <a href="{{ routes.cart_url }}">
        {{ 'icon-cart.svg' | inline_asset_content }}
      </a>
    </div>
  </div>

{% comment %} menu que se muestra en mobile {% endcomment %}
  <div id="mobile-menu" class="md:hidden hidden fixed top-0 left-0 w-full h-screen bg-black z-50 px-8 overflow-y-hidden">

    <button
      type="button"
      aria-label="Close menu"
      onclick="toggleMobileMenu()"
      class="absolute top-10 right-10 w-10 h-10 flex items-center justify-center text-white text-3xl cursor-pointer hover:opacity-70 transition"
    >
      ✕
    </button>

    <nav class="flex flex-col space-y-4 justify-center items-center h-full pt-24">
      {% for link in section.settings.menu.links %}
        <a
          href="{{ link.url }}"
          class="text-2xl tracking-wider text-white hover:text-gray-300 transition-colors duration-200 uppercase text-center py-2"
          onclick="toggleMobileMenu()"
        >
          {{ link.title }}
        </a>
      {% endfor %}
    </nav>
  </div>
  
</header>

<script>
  function toggleMobileMenu() {
    const menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  }
</script>

<style>
.full-bleed-header{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
</style>



{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "text",
      "id": "newsletter",
      "label": "newsletter title", 
      "default": "Welcome to our store"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Header title",
      "default": "Barner"

    },

  ],
  "presets": [
    {
      "name": "t:general.header",
      "category": "header"
    }
  ]
}
{% endschema %}
