<div class="relative full-bleed overflow-hidden md:h-[80px] h-[60px]">

  <div class="marquee flex items-center whitespace-nowrap">

    <div class="flex items-center gap-16">
      {% for block in section.blocks %}
        <div class="flex items-center gap-3 px-6 shrink-0 md:h-[80px] h-[60px]">

          <img
            src="{{ block.settings.image_banner | image_url: width: 100 }}"
            class="w-6 h-6 object-cover"
            width="{{ block.settings.image_banner.width }}"
            height="{{ block.settings.image_banner.height }}">

          <p class="whitespace-nowrap">
            {{ block.settings.text }}
          </p>

        </div>
      {% endfor %}
    </div>

    <div class="flex items-center gap-16">
      {% for block in section.blocks %}
        <div class="flex items-center gap-3 px-6 shrink-0 md:h-[80px] h-[60px]">

          <img
            src="{{ block.settings.image_banner | image_url: width: 100 }}"
            class="w-6 h-6 object-cover"
            width="{{ block.settings.image_banner.width }}"
            height="{{ block.settings.image_banner.height }}">

          <p class="whitespace-nowrap">
            {{ block.settings.text }}
          </p>

        </div>
      {% endfor %}
    </div>

  </div>

</div>



<style>
.marquee {
  display: flex;
  width: max-content;
  animation: marqueeScroll 20s linear infinite;
}

@media (max-width: 768px) {
  .marquee {
    animation-duration: 18s;
  }
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}




.full-bleed{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
</style>


{% schema %}

{
  "name": "Mini Banner",
  "settings": [  ],
  "blocks": [
    {
      "type": "producto",
      "name": "Producto",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_banner",
          "label": "Image logo"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default":"Text"
        },
                
      ]
    }
  ],
  "presets": [
    {
      "name": "Mini Banner",
      "category": "main"
    }
  ]
}
{% endschema %}