{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

  <div class="{{ section.settings.css_class }} main-blog section-{{ section.id }}-padding">
    <div class="page-width">
      {% comment %}<h1 class="title--primary">{{ blog.title | escape }}</h1>{% endcomment %}
      <div class="blog-post-header">
        <div class="blog-searchbar">
          <form action="{{ routes.search_url }}">
              <input type="hidden" name="type" value="article" />
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.7099 19.29L16.9999 15.61C18.44 13.8144 19.1374 11.5353 18.9487 9.24133C18.76 6.94733 17.6996 4.81281 15.9854 3.27667C14.2713 1.74053 12.0337 0.919537 9.73283 0.982497C7.43194 1.04546 5.24263 1.98759 3.61505 3.61517C1.98747 5.24275 1.04534 7.43207 0.982375 9.73295C0.919414 12.0338 1.74041 14.2714 3.27655 15.9855C4.81269 17.6997 6.94721 18.7601 9.2412 18.9488C11.5352 19.1375 13.8143 18.4401 15.6099 17L19.2899 20.68C19.3829 20.7738 19.4935 20.8482 19.6153 20.8989C19.7372 20.9497 19.8679 20.9758 19.9999 20.9758C20.1319 20.9758 20.2626 20.9497 20.3845 20.8989C20.5063 20.8482 20.6169 20.7738 20.7099 20.68C20.8901 20.4936 20.9909 20.2444 20.9909 19.985C20.9909 19.7257 20.8901 19.4765 20.7099 19.29ZM9.9999 17C8.61544 17 7.26206 16.5895 6.11091 15.8203C4.95977 15.0511 4.06256 13.9579 3.53275 12.6788C3.00293 11.3997 2.86431 9.99226 3.13441 8.63439C3.4045 7.27653 4.07119 6.02925 5.05016 5.05028C6.02912 4.07131 7.27641 3.40463 8.63427 3.13453C9.99214 2.86443 11.3996 3.00306 12.6787 3.53287C13.9578 4.06268 15.051 4.95989 15.8202 6.11103C16.5894 7.26218 16.9999 8.61556 16.9999 10C16.9999 11.8565 16.2624 13.637 14.9497 14.9498C13.6369 16.2625 11.8564 17 9.9999 17Z" fill="#A0A0A0"/>
              </svg>
              <input type="text" name="q"
                placeholder="Buscar publicación"
                value="{{ search.terms | escape }}"
             >
              <input type="submit" value="Buscar">
            </form>
        </div>
      </div>
      <div class="blog-post-top">
        <div class="blog-post-top-wrapper">
          <div class="blog-post-top-inner">
            <div class="single-blog">
              {% for article in blog.articles %}
                {% if forloop.first %}
                  <div class="blog-image">
                    <img src="{{ article.image | img_url: '' }}">
                  </div>
                  <div class="blog-content">
                    <div class="blog-tag">
                      <span>{{ article.tags }}</span>
                    </div>
                    <div class="blog-title">
                      <a href="{{ article.url }}">{{ article.title }}</a>
                    </div>
                    <div class="blog-description">
                      {{ article.excerpt | truncatewords: 25, "" }}
                    </div>
                    {%- if section.settings.show_author -%}
                      <span class="blog-author">{{ article.author }}</span>
                    {% endif %}
                    {%- if section.settings.show_date -%}
                      <span class="blog-date">{{ article.published_at | date: "%d, %B" }}</span>
                    {% endif %}
                    {% if article.metafields.custom.blog_minute != blank %}
                      <span class="blog-minute">{{ article.metafields.custom.blog_minute }}</span>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="last-projects">
              <div class="last-projects-title">{{ section.settings.last_project_title }}</div>
                <div class="last-projects-inner">
                  {% for article in blog.articles %}
                    <div class="last-projects-item">
                      <div class="blog-image">
                        <img src="{{ article.image | img_url: '' }}">
                      </div>
                      <div class="blog-content">
                        <div class="blog-tag">
                          <span>{{ article.tags }}</span>
                        </div>
                        <div class="blog-title">
                          <a href="{{ article.url }}">{{ article.title }}</a>
                        </div>
                        {%- if section.settings.show_author -%}
                          <div class="blog-author">Por <span>{{ article.author }}</span></div>
                        {% endif %}
                        {%- if section.settings.show_date -%}
                          <div class="blog-date">{{ article.published_at | date: "%d, %B" }}</div>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="blog-post-bottom">
        <div class="blog-post-bottom-inner">
          {%- paginate blog.articles by 13 -%}
<!--             <div class="demo"> -->
              <div class="blog-post-grid">
                {% for article in blog.articles offset: 1 %}
                  <div class="blog-post-grid-item">
                    <div class="blog-post-grid-item-inner">
                      <div class="blog-image">
                        <img src="{{ article.image | img_url: '' }}">
                      </div>
                      <div class="blog-content">
                        <div class="blog-tag">
                          <span>{{ article.tags }}</span>
                        </div>
                        <div class="blog-title">
                          <a href="{{ article.url }}">{{ article.title }}</a>
                        </div>
                        <div class="blog-description">
                          {{ article.excerpt }}
                        </div>
                        {%- if section.settings.show_author -%}
                          <span class="blog-author">{{ article.author }}</span>
                        {% endif %}
                        {%- if section.settings.show_date -%}
                          <span class="blog-date">{{ article.published_at | date: "%d, %B" }}</span>
                        {% endif %}
                        {% if article.metafields.custom.blog_minute != blank %}
                          <span class="blog-minute">{{ article.metafields.custom.blog_minute }}</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {%- if paginate.pages > 1 -%}
                {%- render 'pagination', paginate: paginate -%}
              {%- endif -%}
              </div>
<!--             </div> -->
          {%- endpaginate -%}
          <div class="blog-post-bottom-right">
            <div class="most-read">
              <div class="most-read-title">{{ section.settings.most_read_title }}</div>
              <div class="most-read-inner">
                {% for block in section.blocks %}
                  <div class="most-read-item">
                    <div class="article-img">
                      <img src="{{ block.settings.blog_article.image | img_url: '' }}">
                    </div>
                    <div class="article-content">
                      <div class="article-title">
                        <a href="{{ block.settings.blog_article.url }}">{{ block.settings.blog_article.title }}</a>
                      </div>
                      {%- if section.settings.show_author -%}
                        <div class="article-author">Por <span>{{ block.settings.blog_article.author }}</span></div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="social-block">
              <div class="social-block-title">{{ section.settings.social_title }}</div>
              <div class="social-inner">
                <div class="social-item">
                  <div class="social-img">
                    {{ section.settings.facebook_svg }}
                  </div>
                  <div class="social-title">
                    <a href="{{ section.settings.facebook_url }}">{{ section.settings.facebook_title }}</a>
                  </div>
                </div>
                <div class="social-item">
                  <div class="social-img">
                    {{ section.settings.insta_svg }}
                  </div>
                  <div class="social-title">
                    <a href="{{ section.settings.insta_url }}">{{ section.settings.insta_title }}</a>
                  </div>
                </div>
                <div class="social-item">
                  <div class="social-img">
                    {{ section.settings.twitter_svg }}
                  </div>
                  <div class="social-title">
                    <a href="{{ section.settings.twitter_url }}">{{ section.settings.twitter_title }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "Last projects"
    },
    {
      "type": "text",
      "id": "last_project_title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Most read"
    },
    {
      "type": "text",
      "id": "most_read_title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Facebook"
    },
    {
      "type": "textarea",
      "id": "facebook_svg",
      "label": "Facebook SVG code"
    },
    {
      "type": "text",
      "id": "facebook_title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "textarea",
      "id": "insta_svg",
      "label": "Instagram SVG code"
    },
    {
      "type": "text",
      "id": "insta_title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "insta_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Pinterest"
    },
    {
      "type": "textarea",
      "id": "pinterest_svg",
      "label": "Pinterest SVG code"
    },
    {
      "type": "text",
      "id": "pinterest_title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "pinterest_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Twitter"
    },
    {
      "type": "textarea",
      "id": "twitter_svg",
      "label": "Twitter SVG code"
    },
    {
      "type": "text",
      "id": "twitter_title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "twitter_url",
      "label": "URL"
    }
  ],
  "presets": [
    {
      "name": "blogpost",
      "category": "Custom"
    }
  ],
  "max_blocks": 4,
  "blocks": [
     {
       "name": "most read article",
       "type": "most-read-article",
       "settings": [
         {
            "type": "header",
            "content": "Most read"
          },
          {
            "type": "article",
            "id": "blog_article",
            "label": "Select article"
          }           
       ]
     }
  ]
}
{% endschema %}
