<div class="full-bleed flex flex-col h-[700px]">
    <div class="w-full flex justify-center items-start py-5 pt-10">
        <h1 class="text-center md:text-4xl text-lg  font-bold">
            {{ section.settings.title_page }}
        </h1>
        
    </div>
    <div class="w-full flex justify-center items-start gap-8">

        <button class="tab-item relative md:text-3xl text-xl font-bold pb-2"
                data-tab="1">
            {{ section.settings.collection_title1 }}
            <span class="tab-underline absolute left-0 bottom-0 w-full h-[3px] bg-black transition-colors duration-300"></span>
        </button>

        <button class="tab-item relative md:text-3xl text-xl font-bold pb-2"
                data-tab="2">
            {{ section.settings.collection_title2 }}
            <span class="tab-underline absolute left-0 bottom-0 w-full h-[3px] bg-gray-300 transition-colors duration-300"></span>
        </button>

        <button class="tab-item relative md:text-3xl text-xl font-bold pb-2"
                data-tab="3">
            {{ section.settings.collection_title3 }}
            <span class="tab-underline absolute left-0 bottom-0 w-full h-[3px] bg-gray-300 transition-colors duration-300"></span>
        </button>

    </div>

    <div class="w-full mt-10 ">

        <!-- WOMEN -->
    
        <div class="collection-content relative overflow-hidden top-10 md:px-20 px-15" data-content="1">

            <div class="sliderTrack flex transition-transform duration-500 ease-out">
                {% comment %} <div class="shrink-0 md:block hidden sm:w-1/2 md:w-1/3 lg:w-1/4 w-[300px] bg-gray-200 rounded-2xl">
                    
                </div> {% endcomment %}
                {% for product in section.settings.women_collection.products %}
                <div class="shrink-0 sm:w-1/2 md:w-1/3 xl:w-1/4 w-[300px] px-4 ">
                    <a href="{{ product.url }}">
                        <div class="w-full xl:h-[360px] md:h-[250px] h-[260px] bg-white rounded-2xl
                            overflow-hidden flex items-center justify-center">
                        
                            <img
                                src="{{ product.featured_image | image_url: width: 600 }}"
                                class="w-full h-auto object-cover "

                                width="{{ product.featured_media.width }}"
                                height="{{ product.featured_media.height }}">
                        </div>
                    </a>
                <p class="pt-5 text-md font-bold">{{ product.title }}</p>
                <p class="pt-2 text-sm font-bold">{{ product.price | money }}</p>
                <a href="{{ product.url }}">
                    <p class="pt-1 text-sm hover:opacity-30 transition-opacity">Learn more</p>
                </a>

                </div>
                {% endfor %}

            </div>

            <!-- Flechas -->
            <div class="flex justify-between absolute inset-0 items-center px-4 pointer-events-none z-20">
                <button class="prevBtn pointer-events-auto">‹</button>
                <button class="nextBtn pointer-events-auto">›</button>
            </div>

        </div>


        <!-- MEN -->
        <div class="collection-content relative hidden overflow-hidden top-10 md:px-20 px-15" data-content="2">

            <div class="sliderTrack flex transition-transform duration-500 ease-out">
                {% comment %} <div class="shrink-0 md:block hidden sm:w-1/2 md:w-1/3 lg:w-1/4 w-[300px] bg-gray-200 rounded-2xl">
                    
                </div> {% endcomment %}
                {% for product in section.settings.men_collection.products %}
                <div class="shrink-0 sm:w-1/2 md:w-1/3 xl:w-1/4 w-[300px] px-4 ">
                    <a href="{{ product.url }}">
                        <div class="w-full xl:h-[360px] md:h-[250px] h-[260px] bg-white rounded-2xl
                            overflow-hidden flex items-center justify-center">
                        
                            <img
                                src="{{ product.featured_image | image_url: width: 600 }}"
                                class="w-full h-auto object-cover "

                                width="{{ product.featured_media.width }}"
                                height="{{ product.featured_media.height }}">
                        </div>
                    </a>
                <p class="pt-5 text-md font-bold">{{ product.title }}</p>
                <p class="pt-2 text-sm font-bold">{{ product.price | money }}</p>
                <a href="{{ product.url }}">
                    <p class="pt-1 text-sm hover:opacity-30 transition-opacity">Learn more</p>
                </a>

                </div>
                {% endfor %}

            </div>

            <!-- Flechas -->
            <div class="flex justify-between absolute inset-0 items-center px-4 pointer-events-none z-20">
                <button class="prevBtn pointer-events-auto">‹</button>
                <button class="nextBtn pointer-events-auto">›</button>
            </div>

        </div>


        <!-- BEST SELLERS -->
        <div class="collection-content relative hidden overflow-hidden top-10 md:px-20 px-15" data-content="3">

            <div class="sliderTrack flex transition-transform duration-500 ease-out">
                {% comment %} <div class="shrink-0 md:block hidden sm:w-1/2 md:w-1/3 lg:w-1/4 w-[300px] bg-gray-200 rounded-2xl">
                    
                </div> {% endcomment %}
                {% for product in section.settings.best_collection.products %}
                <div class="shrink-0 sm:w-1/2 md:w-1/3 xl:w-1/4 w-[300px] px-4 ">
                    <a href="{{ product.url }}">
                        <div class="w-full xl:h-[360px] md:h-[250px] h-[260px] bg-white rounded-2xl
                            overflow-hidden flex items-center justify-center">
                        
                            <img
                                src="{{ product.featured_image | image_url: width: 600 }}"
                                class="w-full h-auto object-cover "

                                width="{{ product.featured_media.width }}"
                                height="{{ product.featured_media.height }}">
                        </div>
                    </a>
                <p class="pt-5 text-md font-bold">{{ product.title }}</p>
                <p class="pt-2 text-sm font-bold">{{ product.price | money }}</p>
                <a href="{{ product.url }}">
                    <p class="pt-1 text-sm hover:opacity-30 transition-opacity">Learn more</p>
                </a>

                </div>
                {% endfor %}

            </div>

            <!-- Flechas -->
            <div class="flex justify-between absolute inset-0 items-center px-4 pointer-events-none z-20">
                <button class="prevBtn pointer-events-auto">‹</button>
                <button class="nextBtn pointer-events-auto">›</button>
            </div>

        </div>

   


    </div>
</div>

<style>
.full-bleed{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

</style>

<script>
document.addEventListener("DOMContentLoaded", function () {

  const tabs = document.querySelectorAll(".tab-item");
  const contents = document.querySelectorAll(".collection-content");

  tabs.forEach(tab => {
    tab.addEventListener("click", function () {

      const tabId = this.dataset.tab;

      // Cambiar underline
      tabs.forEach(t => {
        t.querySelector(".tab-underline")
         .classList.remove("bg-black");
        t.querySelector(".tab-underline")
         .classList.add("bg-gray-300");
      });

      this.querySelector(".tab-underline")
          .classList.remove("bg-gray-300");
      this.querySelector(".tab-underline")
          .classList.add("bg-black");

      // Cambiar colección visible
      contents.forEach(content => {
        content.classList.add("hidden");
        if (content.dataset.content === tabId) {
          content.classList.remove("hidden");
        }
      });

    });
  });

});
</script>



<script>
document.addEventListener("DOMContentLoaded", function () {

  const sliders = document.querySelectorAll(".collection-content");

  sliders.forEach(slider => {

    const track = slider.querySelector(".sliderTrack");
    const prev = slider.querySelector(".prevBtn");
    const next = slider.querySelector(".nextBtn");

    if (!track) return;

    let currentIndex = 0;

    function getSlideWidth() {
      const firstSlide = track.children[0];
      if (!firstSlide) return 0;
      return firstSlide.offsetWidth;
    }

    function getVisibleCount() {
      const sliderWidth = slider.offsetWidth;
      const slideWidth = getSlideWidth();
      return Math.floor(sliderWidth / slideWidth);
    }

    function getMaxIndex() {
      return Math.max(track.children.length - getVisibleCount(), 0);
    }

    function updateSlider() {
      const slideWidth = getSlideWidth();
      track.style.transform =
        `translateX(-${currentIndex * slideWidth}px)`;
    }

    next?.addEventListener("click", function () {
      currentIndex =
        currentIndex >= getMaxIndex() ? 0 : currentIndex + 1;
      updateSlider();
    });

    prev?.addEventListener("click", function () {
      currentIndex =
        currentIndex <= 0 ? getMaxIndex() : currentIndex - 1;
      updateSlider();
    });

    window.addEventListener("resize", function () {
      currentIndex = 0;
      updateSlider();
    });

  });

});
</script>



{% schema %}

{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title_page",
      "label": "Title Page Collection"
    },
    {
      "type": "text",
      "id": "collection_title1",
      "label": "Title Women Collection",
      "default": "Women"
    },
    {
      "type": "text",
      "id": "collection_title2",
      "label": "Title Men Collection",
      "default": "Men"

    },
    {
      "type": "text",
      "id": "collection_title3",
      "label": "Title Bestsellers Collection",
      "default": "Best Sellers"

    },
    
    {
      "type": "collection",
      "id": "women_collection",
      "label": "Women Collection"
    },
    {
      "type": "collection",
      "id": "men_collection",
      "label": "Men Collection"
    },
    {
      "type": "collection",
      "id": "best_collection",
      "label": "Best Sellers collection"
    },
    
    
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "main"
    }
  ]
}
{% endschema %}