<div data-section-id="{{ section.id }}" data-section-type="section-banner-v7" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v7"> 
    <div class="container container-v3">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img1 != blank %} {{section.settings.banner_img1 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/600x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn1 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn1}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn1}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img2 != blank %} {{section.settings.banner_img2 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/600x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn2 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn2}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn2}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img3 != blank %} {{section.settings.banner_img3 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/600x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn3 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn3}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn3}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img4 != blank %} {{section.settings.banner_img4 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/600x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn4 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn4}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn4}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img5 != blank %} {{section.settings.banner_img5 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/600x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn5 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn5}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn5}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img6 != blank %} {{section.settings.banner_img6 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/600x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn6 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn6}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn6}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img7 != blank %} {{section.settings.banner_img7 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/900x900 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn7 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn7}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn7}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img8 != blank %} {{section.settings.banner_img8 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/1247x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn8 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn8}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn8}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-12">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img9 != blank %} {{section.settings.banner_img9 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/900x900 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn9 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn9}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn9}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-12">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img10 != blank %} {{section.settings.banner_img10 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/1247x600 
                                 {% endif %}" class="lazyload  img-fluid w-100" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn10 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn10}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn10}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-12">
              <div class="banner-item">
                <div class="box-img">
                  <img data-src="{% if section.settings.banner_img11 != blank %} {{section.settings.banner_img11 | img_url : 'master'}} 
                                 {% else %} 
                                 //via.placeholder.com/1247x600 
                                 {% endif %}" class="lazyload  img-fluid w-110" alt="_img_banner_">
                </div>
                {% if section.settings.banner_btn11 != blank %}
                <div class="info-banner">
                  <a href="{{section.settings.url_btn11}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.banner_btn11}}<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

<style>

</style>

{% schema %}
{
  "name": "BANNER V7",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "header",
      "content": "Settings Banner 1"
    },
    {
      "type": "image_picker",
      "id": "banner_img1",
      "label": "Image Banner",
      "info": "600 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn1",
      "label": "Button Banner 1",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn1",
      "label": "URL Button Banner 1",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 2"
    },
    {
      "type": "image_picker",
      "id": "banner_img2",
      "label": "Image Banner",
      "info": "600 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn2",
      "label": "Button Banner 2",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn2",
      "label": "URL Button Banner 2",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 3"
    },
    {
      "type": "image_picker",
      "id": "banner_img3",
      "label": "Image Banner",
      "info": "600 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn3",
      "label": "Button Banner 3",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn3",
      "label": "URL Button Banner 3",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 4"
    },
    {
      "type": "image_picker",
      "id": "banner_img4",
      "label": "Image Banner",
      "info": "600 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn4",
      "label": "Button Banner 4",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn4",
      "label": "URL Button Banner 4",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 5"
    },
    {
      "type": "image_picker",
      "id": "banner_img5",
      "label": "Image Banner",
      "info": "600 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn5",
      "label": "Button Banner 5",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn5",
      "label": "URL Button Banner 5",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 6"
    },
    {
      "type": "image_picker",
      "id": "banner_img6",
      "label": "Image Banner",
      "info": "600 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn6",
      "label": "Button Banner 6",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn6",
      "label": "URL Button Banner 6",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 7"
    },
    {
      "type": "image_picker",
      "id": "banner_img7",
      "label": "Image Banner",
      "info": "900 x 900px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn7",
      "label": "Button Banner 7",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn7",
      "label": "URL Button Banner 7",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 8"
    },
    {
      "type": "image_picker",
      "id": "banner_img8",
      "label": "Image Banner",
      "info": "1247 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn8",
      "label": "Button Banner 8",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn8",
      "label": "URL Button Banner 8",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 9"
    },
    {
      "type": "image_picker",
      "id": "banner_img9",
      "label": "Image Banner",
      "info": "900 x 900px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn9",
      "label": "Button Banner 9",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn9",
      "label": "URL Button Banner 9",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 10"
    },
    {
      "type": "image_picker",
      "id": "banner_img10",
      "label": "Image Banner",
      "info": "1247 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn10",
      "label": "Button Banner 10",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn10",
      "label": "URL Button Banner 10",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner 11"
    },
    {
      "type": "image_picker",
      "id": "banner_img11",
      "label": "Image Banner",
      "info": "1247 x 600px recommended"
    },
    {
      "type": "text",
      "id": "banner_btn11",
      "label": "Button Banner 11",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_btn11",
      "label": "URL Button Banner 11",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "BANNER V7",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
